/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
form#order-database {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.menu-item{
    color: red;
    font-family: 'Tisa Pro Regular';
    font-size: 20px;
}

.item-type{
    text-decoration: underline;
    font-weight: bold; 
    font-family: 'Calibri';
    font-size: 40px;
}

#search {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}

#filters {
    display: flex;
    flex-direction: column;
}

#filters input[type=number] {
    width: 5rem;
}

#filters h4 {
    margin-bottom: 0.2rem;
}

.float-columns > div {
    float: left;
    width: 33%;
}

.clearfix {
    clear: both;
}

@media (max-width: 490px) {
    /* Reset the columns to render with the flow of the page */
    .float-columns > div {
        float: none;
        width: 100%;
    }
}




